<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shift</title>
    <style>
        body {
          overflow-y: scroll;
        }
      </style>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Edit Shift</h1>
    <form method="POST" action="{{ url_for('edit_shift', shift_id=shift.id) }}">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ shift.date }}" required><br>
        <label for="start_time">Start Time:</label>
        <input type="time" id="start_time" name="start_time" value="{{ shift.start_time }}" required><br>
        <label for="end_time">End Time:</label>
        <input type="time" id="end_time" name="end_time" value="{{ shift.end_time }}" required><br>
        <button type="submit">Update Shift</button>
    </form>
</body>
</html>
